.call-charges {
  margin: 0;
  padding: 0;
  width: 100%;
}
.call-charges__item {
  &:nth-child(2n+2) {
    background-color: $light-blue;
  }
}

.call-charges__item--header {
  @extend .call-charges__item;
}

.call-charge {
  margin: 5px 10px;
}

.call-charge__number, .call-charge__duration, .call-charge__cost {
  @extend .call-charge;
}

.call-charge__number {
  text-align: left;
  width: 40%;
}

.call-charge__duration {
  text-align: center;
  width: 30%;
}

.call-charge__cost {
  text-align: right;
  width: 30%;
}
