.store-list {
  width: 100%;
  margin: 5px 0 20px;
  padding: 0;
}

.store-list__item {
  padding: 5px 10px;
  &:nth-child(2n+1) {
    background-color: $light-blue;
  }
}

.store-item__title {
  width: 50%;
}

.store-item__cost {
  width: 50%;
  text-align: right;
}
