
.packages {
  list-style: none;
  margin: 0;
  padding: 0;
  @include breakpoint ($mobile-landscape) {
    display: flex;
  }
}

.package {
  list-style: none;
  text-align: center;
  background: $blue;
  color: $background-color;
  margin: 10px auto;
  padding: 10px;
  width: 200px;

  @include breakpoint ($mobile-landscape) {
    width: 33.3%;
    margin: 10px;
  }
}

.package--tv, .package--broadband, .package--talk {
  @extend .package;
}
